#root, body, html, .App {
  min-height: 100%;
}

html {
  background-color: var(--color-main);
}

#root {
  background-color: var(--color-main);
}

.col {
  margin-bottom: 30px;
}

.center-element {
  display: flex;
  justify-content: center;
}