:root {
  --color-main: #18314F;
  --color-primary: #0d6efd;
  --color-secondary: #8BBEB2;
  --color-danger: #FF3847;
  --color-shadow-active: white;
  --color-active: #E6F9AF;
  --color-light: #FBFBFD;
  --color-font: var(--color-active);
  --color-border: var(--color-active);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
